# Application & Queue
STREAM_KEY=task:stream
GROUP_NAME=worker-group
CONSUMER_NAME=consumer-worker
RATE_LIMIT_MAX=50000

# Security Keys
RELAY_API_KEY=mail_man_secret_key_0909
WEBHOOK_SECRET=mail001_man_webhook_qwssermxmx110

# PostgreSQL Database Configuration
HOST=localhost
PORT=5432
USER=postgres
PASSWORD=postgres
DATABASE=relayengine

# Optional Overrides
API_PORT=3000
NODE_ENV=development